.register-area {
    padding: 25px;
    position: relative;
    background:#002A43;
       min-height: 100vh;
}
.main {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.registerBox {
    background: #7b7b7b2e;
    padding: 25px;
      max-width: 850px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0px 2px 7px #011927;
}
.title h5{
        text-transform: capitalize;
    text-align: center;
    color: #FB9108;
}
.btn-upload {
    background: #fb9108d1;
    color: #000;
    border: 2px solid #cacaca54;
}
.btn-upload:hover {
    background: #fb9017;
    color: #000;
    border: 2px solid #cacaca54;
}
input
{
    color: #fff;
}
a.waves-effect.waves-light.btn.usernextdata {
    background: #173a50;
    border:  1px solid #fff;
    width: 31%;
    margin-top:  28px;
}
.done-btn-cols {
    width: 100%;
    margin-top:  32px;
    margin:  0 auto;
    text-align:  center;
    padding-top:  27px;
    background:  transparent;
}
a.waves-effect.waves-light.btn.user_Register {
    width: 100%;
    background: #00253c;
    border-radius: 50px;
    color: #d28115;
}
a.waves-effect.waves-light.btn.user_Register:hover {
    width: 100%;
    background: #001925;
    border-radius: 50px;
    color: #d28115;
}