/*body{
	background: #002A43;
}*/
nav{
	background-color: #002A43 !important;
}
nav .nav-wrapper{
	max-width: 1280px;
	margin: 0 auto;
}

.PostContainer {
    padding: 25px;
}




/*RecentPost area*/
.postBox {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 3px #0000004f;
    margin-bottom: 25px;
}
.postProfile {
    position: relative;
    top: 0;
    height: 60px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.postProfile img{
    position: relative;
    top: 0;
    height: auto;
    width: auto;
}
.postContent {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: justify;
}
.recentPostBox {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 3px #0000004f;
    position: relative;
}
.col.s6.m4.recentBox img {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.title h5{
	/*border-bottom: 1px solid #ddd;*/
    padding-bottom: 15px;
    color: #002a43;
    margin-bottom: 15px;
}
.commentsBox {
  	padding-top: 15px;
}
.postProfile.row span {
    color: #002a43;
    margin-bottom: 0px; 
    margin-top: 0px;
    font-size: 16px;
}
/*shareLink*/
.postProfile.row span.shareLink {
    color: #aaa;
    position: relative;
    padding: 5px;
}
.postProfile.row span.SharedLink {
    color: #0070ff;
}


/*======================= PostBox Area Disign =============================*/
/*like Button*/

.like-container{filter: url('#filter');}
.like-cnt{  
       position: relative;
    cursor: pointer;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    background: rgb(175, 177, 179);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    z-index: 10;
}
.like-btn{
  color: #fff;
}

.gp-header{font-family: georgia; font-size: 40px; color: #ddca7e; font-style: italic; text-align: center; margin-top: 31px;}
.gp-footer{position: fixed; color: #fff; bottom: 10px; left: 50%; font-family: georgia; font-style: italic; transform: translateX(-50%);}
.gp-footer .soc_icons{display: inline-block; color: #ddca7e; margin: 0px 0px;}


::-moz-selection { background: transparent;}
::selection {background: transparent;}





.likeValue{
        position: absolute;
    left: 45px;
    float: left;
    top: -5px;
    color: #006dbb;
    font-weight: 500;
}
}